* {
    font-family: "Lora", serif;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

header{
    height: 5%;
    width: 100%;
    justify-content: space-around;
    background-color:#ffffff; /*#1B4D3E*/
    border-bottom: solid white 2px;
    padding: 1% 0;
}

header img{
    height: 100px;
    border-radius: 100%;
    border: rgb(255, 255, 255) 2px solid;
    box-sizing: content-box;
    
}
nav{
    background-color: #ff9500;
    padding: 1%;
}

nav ul{
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 50px;
}

.nav_links{
    color:#013220; 
}

.nav_links:hover{
    color: rgba(255, 221, 0, 0.5);
}

.banner{
    gap: 5%;
    height: 63vh;
    margin: 2%;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #FF9634 0%, #2C2F4A 100%);
    border-radius: 10px;
}

#title{
    color: whitesmoke;
    font-size: 55px;
    text-shadow: 2px 2px 4px black;
}

#subtitle{
    color: whitesmoke;
    font-size: 20px;
}

#discover-now{
    color: whitesmoke;
    font-size: 15px;
    border: solid whitesmoke 2px;
    padding: 1%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    transition: all 0.2s ease-in-out;
}

#discover-now:hover{
    background-color: rgba(255, 221, 0, 0.5);
    transform: scale(1.1);
}

#kids-item{
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../src/kids.jpg'); 
}

#women-item{
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../src/women.jpg'); 
}

#men-item{
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../src/men.jpg'); 
}

#sales-item{
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../src/sales.jpg'); 
}

#jewelry-item{
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../src/joyas2.jpg'); 
}

/* Carousel */
.carousel{
    position: sticky;
    top: 0;
}

.carousel-container {
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    width: 98.7vw;
    height: 15vh;
    overflow: hidden;
}

.carousel-track {
    display: flex;
    height: 15vh;
    width: 200vw;
    transition: transform 0.3s ease-in-out;
}

.carousel-item {
    box-sizing: border-box;
    padding: 1%;
    min-height: 50%;
    min-width: 16.6%; 
    flex-shrink: 0; 
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 50px;
    color: whitesmoke;   
}
.nav-arrow{
    width: 15%;
    justify-content: center;
    background: linear-gradient(135deg, #FF9634 0%, #FF6A00 100%);
    color: white;
    border: none;
    padding: 4px;
    cursor: pointer;
    margin: auto;
    border-top: none;
    border-right: solid 2px black;
    border-left: solid 2px black;
    border-bottom: solid 2px black;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

}

.nav-arrow:hover{
    background: linear-gradient(135deg, #FF6A00 0%, #E85A00 100%);
}

.nav-arrow:disabled {
    cursor: not-allowed;
}

.clothes-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8%;
    padding-top: 1%;
}

#shop h2{
    font-size: 42px;
    text-align: center;
    border-bottom: solid 2px white;
    border-top: solid 2px white;
    padding: 1%;
    margin: 1% 0;
}

.cloth{
    width: 15%;
    height: 17%;
    border: solid 2px #013220;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1%;
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
}

.cloth:hover{
    transform: scale(1.1);
}

.cloth figure{
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}

.cloth figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cloth h3{
    font-size: 15px;
    margin: 1%;
}

.cloth p{
    font-size: 12px;
    margin: 1%;
}

.sales{
    background-color: #ff7300;
    color: white;
}

.saletag{
    color:red;
}

#shop{
    background-color: #f1f1f1;
}
section{
    margin: 2%;
    padding: 5%;
    border-radius: 20px;
    background: linear-gradient(135deg, #FF9634 0%, #2C2F4A 100%);
}

#contact, #video{
    gap: 8%;
    height: 50vh;
}

.splited_section{
    width: 50%;
    height: 100%;
}

.splited_section_text{
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 8%;
}

.sections_container{
    display: flex;
    flex-direction: column;
    gap: 10%;
}

.section_title{
    border-bottom: solid 1px #ffffff;
    border-top: solid 1px #ffffff;
    padding: 1%;
    font-size: 42px;
    margin: 1%;
}

form{
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 1%;
    border-radius: 10px;
    margin: 3%;
    color: #f47e07;
    gap: 4%;
    height: 100%;
}

.special_gap{
    gap: 50px;
}

form input, form textarea{
    padding: 2%;
    margin-bottom: 1%;
    border: solid 1px #f47e07;
    border-radius: 5px;
    background-color: #fff;
}

form input:focus, form textarea:focus{
    border: solid 1px #f47e07;
    box-shadow: 0 0 5px #f47e07;
    outline: none;
}

form input:hover, form textarea:hover{
    border: solid 1px #f47e07;
    box-shadow: 0 0 5px #f47e07;
    outline: none;
}

form button{
    padding: 1%;
    border: solid 1px #f47e07;
    border-radius: 5px;
    background-color: rgb(255, 167, 16);
    color: #15202b;
    cursor: pointer;
}

form button:hover{
    background-color: rgb(255, 95, 2);
}

footer{
    background-color: #ff7300;
    color: #000000;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer p{
    margin: 0;
}

.lp-footer {
  background-color: #faf7f2;
  padding: 0;
  width: 100%;
  color: #b36a56;
  font-family: "Georgia", serif;
}

.lp-top-line {
  width: 100%;
  height: 30px; 
  background-color: #ff8800;
}


.lp-container {
  max-width: 1600px; 
  margin: auto;
  padding: 40px 50px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  align-items: center;
}

.lp-left {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
}


.lp-center {
  text-align: center;
}

.lp-logo {
  height: 40px;
  margin-bottom: 5px;
  opacity: 0.9;
}

.lp-center h2 {
  font-size: 26px;
  font-weight: normal;
  margin: 5px 0;
  color: #b36a56;
}

.lp-center p {
  font-size: 14px;
  opacity: 0.7;
}


.lp-right {
  display: flex;
  justify-content: flex-end;
  gap: 50px;
}

.lp-right a {
  text-decoration: none;
  color: #b36a56;
  font-size: 16px;
}


.producto {
  border: 1px solid #eee;
  padding: 15px;
  width: 200px;
  margin-bottom: 20px;
  text-align: center;
  font-family: "Georgia", serif;
}

button {
  margin-top: 10px;
  padding: 8px 15px;
  background: #b36a56;
  color: #fff;
  border: none;
  cursor: pointer;
  letter-spacing: 1px;
  font-family: "Georgia", serif;
}

button:hover {
  background: #9a5948;
}

#carrito {
  margin-top: 20px;
  font-family: "Georgia", serif;
}

.item-carrito {
  display: flex;
  justify-content: space-between;
  width: 250px;
  margin-bottom: 10px;
}

.btn-vaciar {
  background: black;
  margin-top: 20px;
}

/* Contenedor de productos */
.producto {
  display: flex;             
  align-items: center;      
  justify-content: space-between;
  background-color: #fff3e0; 
  padding: 20px;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  width: 100%;            
}


.producto img {
  width: 150px;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s; 
}


.producto img:hover {
  transform: translateY(-10px); 
}

.producto h3, .producto .precio {
  margin: 0;
}

/* Botón */
.producto button {
  padding: 10px 20px;
  background-color: #FFA500; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.producto button:hover {
  background-color: #ff8c00; 
}

/* Carrito */
#carrito {
  background-color: #fff3e0;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  width: 100%;
}


#total {
  font-weight: bold;
  margin-top: 10px;
  font-size: 18px;
}

/* Bot vaciar carrito */
.btn-vaciar {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #c66012; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* como se ve dispositivos */
@media (max-width: 768px) {

    /* Secciones divididas  */
    #video,
    #contact {
        flex-direction: column;
        height: auto;
        gap: 20px;
    }

    .splited_section {
        width: 100%;
        height: auto;
    }

    /* Banner */
    .banner {
        height: 40vh;
        padding: 20px;
        text-align: center;
    }

    #title {
        font-size: 32px;
    }

    #subtitle {
        font-size: 18px;
    }

    /* Formulario */
    form {
        flex-direction: column;
        height: auto;
        gap: 20px;
    }

    .special_gap {
        gap: 20px;
    }

    form input,
    form textarea {
        width: 100%;
    }

    /* Productos (ropa) */
    .cloth {
        width: 45%;
        height: auto;
    }

    /* Footer */
    .lp-container {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 20px;
    }

    .lp-right {
        justify-content: center;
        gap: 20px;
    }

    .lp-left {
        justify-content: center;
    }

    /* orden de secciones */
    .sections_container {
        flex-direction: column;
        gap: 40px;
    }

    #shop {
        order: 1;
    }

    #video {
        order: 2;           /* video  y texto */
        flex-direction: column;
    }

    #contact {
        order: 3;           /* texto y form */
        flex-direction: column;
    }
}
