* {
    font-family: "Lora", serif;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

header{
    height: 5%;
    width: 100%;
    justify-content: space-around;
    background-color: #013220; /*#1B4D3E*/
    border-bottom: solid white 2px;
    padding: 1% 0;
}

header img{
    height: 100px;
    border-radius: 100%;
    border: black 2px solid;
    box-sizing: content-box;
    
}
nav{
    background-color: #013220;
    padding: 1%;
}

nav ul{
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 50px;
}

.nav_links{
    color: whitesmoke;
}

.nav_links:hover{
    color: rgba(255, 221, 0, 0.5);
}

.banner{
    gap: 5%;
    height: 63vh;
    margin: 2%;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    background-image: url('../src/Banner.jpg');
    background-size: cover;
    background-color: #013220;
    border-radius: 10px;
}

#title{
    color: whitesmoke;
    font-size: 55px;
    text-shadow: 2px 2px 4px black;
}

#subtitle{
    color: whitesmoke;
    font-size: 20px;
}

#discover-now{
    color: whitesmoke;
    font-size: 15px;
    border: solid whitesmoke 2px;
    padding: 1%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    transition: all 0.2s ease-in-out;
}

#discover-now:hover{
    background-color: rgba(255, 221, 0, 0.5);
    transform: scale(1.1);
}

#kids-item{
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../src/kids.jpg'); 
}

#women-item{
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../src/women.jpg'); 
}

#men-item{
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../src/men.jpg'); 
}

#sales-item{
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../src/sales.jpg'); 
}

#jewelry-item{
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../src/joyas2.jpg'); 
}

/* Carousel */
.carousel{
    position: sticky;
    top: 0;
}

.carousel-container {
    border-top: solid 2px #013220;
    border-bottom: solid 2px #013220;
    width: 98.7vw;
    height: 15vh;
    overflow: hidden;
}

.carousel-track {
    display: flex;
    height: 15vh;
    width: 200vw;
    transition: transform 0.3s ease-in-out;
}

.carousel-item {
    box-sizing: border-box;
    padding: 1%;
    min-height: 50%;
    min-width: 16.6%; 
    flex-shrink: 0; 
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
   background-repeat: no-repeat;
   font-size: 50px;
   color: whitesmoke;   
}
.nav-arrow{
    width: 15%;
    justify-content: center;
    background-color: #013220;
    color: white;
    border: none;
    padding: 4px;
    cursor: pointer;
    margin: auto;
}

.nav-arrow:hover{
    background-color: rgba(1, 50, 32, 0.5);
}

.nav-arrow:disabled {
    background-color: rgba(1, 50, 32, 0.5);
    cursor: not-allowed;
}

.clothes-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8%;
    background-color: #013220;
    padding-top: 1%;
}

#shop h2{
    text-align: center;
    border-bottom: solid 2px #013220;
    border-top: solid 2px #013220;
    padding: 1%;
    margin-top: 1%;
}

.cloth{
    width: 15%;
    height: 17%;
    border: solid 2px #013220;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1%;
    background-color: #fff;
}

.cloth figure{
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}

.cloth figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cloth h3{
    font-size: 15px;
    margin: 1%;
}

.cloth p{
    font-size: 12px;
    margin: 1%;
}

footer{
    background-color: #013220;
    color: #fff;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer p{
    margin: 0;
}

form{
    justify-content: center;
    align-items: center;
    background-color: #013220;
    padding: 1%;
    border-radius: 10px;
    margin: 1%;
    color: #fff;
    height: 70vh;
}

form label{
    font-weight: bold;
    margin-bottom: 1%;
}

form input, form textarea{
    padding: 0.5%;
    margin-bottom: 1%;
    border: none;
    border-radius: 5px;
    background-color: #fff;
}

form button{
    padding: 1%;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 221, 0, 0.5);
    color: #15202b;
    cursor: pointer;
}

form button:hover{
    background-color: rgba(255, 221, 0, 0.5);
}

#contact{
    margin: 1% 0;
}

#contact section{
    width: 50%;
}
#contact aside{
    width: 50%;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#contact aside h3{
    border-bottom: solid 1px #013220;
    border-top: solid 1px #013220;
    padding: 1%;
    font-size: 42px;
    margin: 1%;
}